
<form method="POST" action="/register">
  <input type="email" name="email">
  <input type="password" name="password">


  <!-- <h5>Logged In As: <%= username %></h5>
  <button type="submit" class="btn btn-primary">Logout</button> -->
</form>